body {
    background-color: #FAFAFA;
}

.content-padding {
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 40px;
}

h2 {
    color: #FAFAFA;
    font-size: 32px;
    font-weight: 600;
}

h6 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

p {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
}

.nav-link {
    font-size: 16px;
}

.search-box {
    border-radius: 12px;
}

li,
a.quick-link {
    font-size: 16px;
    color: #fafafa;
}

.navbar {
    background-color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
}

.blue-box {
    background-color: #01A7D7;
    color: #FFFFFF;
    min-height: 20px;
}

.nav-black {
    color: #171717 !important;
}

.blue-icon {
    color: #01BAEF;
}

.custom-button {
    border-radius: 12px;
}

.why-us-section {
    background-color: #E6F8FD;
    ;
    padding: 20px 5%;
    margin-top: 25px;
}

.facilities-section {
    padding: 0 5%;
    margin-top: 15px;
}

.cards-row {
    padding-top: 15px;
}

.custom-card {
    border: none;
}

.custom-card-img {
    border-radius: 20px !important;
}

.custom-card-img p {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
    color: #FAFAFA;
}

.gallery-section {
    padding: 0 5%;
    margin-top: 40px;
}

.gallery-row {
    padding-top: 15px;
    padding-bottom: 50px;
}

.facilities-section .card-img {
    width: 100%;
}

.site-carousel {
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    background-color: rgb(0, 91, 117);
}

div.row {
    margin: 0;
}

.footer-top {
    padding-top: 30px;
    padding-bottom: 30px;
}