body {
    background-color: #FAFAFA;
}

.content-padding {
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 40px;
}

h2 {
    color: #FAFAFA;
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 24px;
}

h6 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

p {
    font-family: 'Heebo';
    font-weight: 400;
    font-size: 16px;
}

.nav-link {
    font-size: 16px;
}

.search-box {
    border-radius: 12px;
}

li,
a.quick-link {
    font-size: 16px;
    color: #fafafa;
}

.navbar {
    background-color: #FFFFFF;
    padding-left: 5%;
    padding-right: 5%;
}

.blue-box {
    background-color: #01A7D7;
    color: #FFFFFF;
    min-height: 20px;
}

.nav-black {
    color: #171717 !important;
}

.blue-icon {
    color: #01BAEF;
}

.custom-button {
    border-radius: 12px;
}

.search-button {
    margin-right: 10px;
}

footer {
    background-color: rgb(0, 91, 117);
}

div.row {
    margin: 0;
}

.footer-top {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-logo {
    padding-bottom: 20px;
}